body{
    background-color:hsl(0, 0%, 100%);
    color:hsl(300, 43%, 22%);
    font-family:"League Spartan", sans-serif;
    padding:100px;
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
}

header{
    display:flex;
    flex-direction:row;
}

.leftside{
    display:flex;
    justify-content: start;
    flex-direction:column;
    margin-right:20px;
    width:300px;
}

.leftside h1{
    padding-right:10px;
    font-size:30px;
    margin-bottom:10px;
    font-weight:800;
}

.leftside .description{
    font-size:11px;
    color:hsl(303, 10%, 53%);
    line-height:16px;
}

.rightside{
    display:flex;
    flex-direction:column;
    background-color: blueviolet;
    margin-left:80px;
}

.five-star{
    background-color: hsl(300, 24%, 96%);
    border:none;
    border-radius:10px;
    font-size:14px;
    font-weight:700;
}

main{
    display:flex;
    flex-direction:row;
    justify-content: center;
}

.review-card{
    display:flex;
    flex-direction:row;
    border:none;
    border-radius:20px;
    background-color:hsl(300, 43%, 22%);
    color:hsl(0, 0%, 100%);
    margin:14px;
    padding:16px;
}
.name{
    font-size:12px;
}
.buyer{
    color:hsl(333, 80%, 67%);
    font-size:12px;
}
.review{
    font-size:12px;
}

footer{
    justify-content: center;
    text-align:center;
    font-size:10px;
}

@media(max-width:375){
    main{
        flex-wrap: wrap;
    }
}