body{
    background-color:hsl(0, 0%, 100%);
    color:hsl(300, 43%, 22%);
    font-family:"League Spartan", sans-serif;
    padding:200px;
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
}

header{
    display:flex;
    flex-direction:row;
}

.leftside{
    display:flex;
    justify-content: start;
    flex-direction:column;
    width:400px;
}

.leftside h1{
    padding-right:10px;
    font-size:50px;
    margin-bottom:10px;
    font-weight:1000;
}

.leftside .description{
    font-size:15px;
    color:hsl(303, 10%, 53%);
    line-height:24px;
}

.rightside{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
}

.five-star{
    background-color: hsl(300, 24%, 96%);
    border:none;
    border-radius:10px;
    font-size:14px;
    font-weight:700;
    width:max-content;
    padding:5px;
}

section{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    width:auto;
}

.review-card{
    display:flex;
    flex-direction:column;
    border:none;
    border-radius:10px;
    background-color:hsl(300, 43%, 22%);
    color:hsl(0, 0%, 100%);
    padding:40px;
    margin-inline-end:40px;
    font-size:15px;
    line-height:24px;
}
.card-title{
    display:flex;
}
.card-title img{
    border:none;
    border-radius:50%;
}
.name{
    font-weight:500;
}
.buyer{
    color:hsl(333, 80%, 67%);
    font-weight:400;
}

.review{
    font-weight:700;
}

footer{
    justify-content: center;
    text-align:center;
    font-size:10px;
}

@media(max-width:375){
    main{
        flex-wrap: wrap;
    }
}